@media screen and (max-width: 479px) {
	.wrapper {
		max-width: 100%;
	}

	.container {
		max-width: 100%;
		width: 100%;
	}
	.left {
		max-width: 100%;
		width: 100%;
	}

	.name {
		font-size: 3em;
	}

	.role {
		font-size: 1.2em;
	}

	.links {
		display: flex;
		flex-direction: row;
		column-gap: 0.75em;
		width: 100%;
	}

	.link {
		font-size: 1em;
	}

	.right,
	.left {
		font-size: 1em; /* Adjust as needed */
	}

	.text {
		font-size: 1em;
	}

	.right {
		display: none;
	}

	.sign {
		display: none;
	}
}
