@media screen and (min-width: 1025px) and (max-width: 1570px) {
	.wrapper {
		max-width: calc(100vw - 10%);
	}

	.img-profile {
		width: 400px;
	}
	
	.image-container {
		width: 400px;
		height: 400px;
	}

	.name {
		font-size: 5em;
	}

	.role {
		font-size: 1.8em;
	}

	.link {
		font-size: 1.2em;
	}
}