:root {
	--ds-gray-100: #1a1a1a;
	--ds-gray-200: #1f1f1f;
	--ds-gray-300: #292929;
	--ds-gray-400: #2e2e2e;
	--ds-gray-500: #454545;
	--ds-gray-600: #878787;
	--ds-gray-700: #8f8f8f;
	--ds-gray-800: #7d7d7d;
	--ds-gray-900: #a1a1a1;
	--ds-gray-1000: #ededed;
	--ds-gray-alpha-100: hsla(0, 0%, 100%, 0.07);
	--ds-gray-alpha-200: hsla(0, 0%, 100%, 0.09);
	--ds-gray-alpha-300: hsla(0, 0%, 100%, 0.13);
	--ds-gray-alpha-400: hsla(0, 0%, 100%, 0.14);
	--ds-gray-alpha-500: hsla(0, 0%, 100%, 0.24);
	--ds-gray-alpha-600: hsla(0, 0%, 100%, 0.51);
	--ds-gray-alpha-700: hsla(0, 0%, 100%, 0.54);
	--ds-gray-alpha-800: hsla(0, 0%, 100%, 0.47);
	--ds-gray-alpha-900: hsla(0, 0%, 100%, 0.61);
	--ds-gray-alpha-1000: hsla(0, 0%, 100%, 0.92);
	--ds-blue-100: #0f1c2e;
	--ds-blue-200: #10233d;
	--ds-blue-300: #0f2f57;
	--ds-blue-400: #0d3868;
	--ds-blue-500: #0a4380;
	--ds-blue-600: #0091ff;
	--ds-blue-700: #0072f5;
	--ds-blue-800: #0062d1;
	--ds-blue-900: #52a8ff;
	--ds-blue-1000: #ebf6ff;
	--ds-red-100: #2a1314;
	--ds-red-200: #3c1618;
	--ds-red-300: #561a1e;
	--ds-red-400: #671e21;
	--ds-red-500: #832126;
	--ds-red-600: #e5484d;
	--ds-red-700: #e5484d;
	--ds-red-800: #d93036;
	--ds-red-900: #ff6166;
	--ds-red-1000: #feecee;
	--ds-amber-100: #291800;
	--ds-amber-200: #331b00;
	--ds-amber-300: #4d2a00;
	--ds-amber-400: #573300;
	--ds-amber-500: #6b4105;
	--ds-amber-600: #e79d13;
	--ds-amber-700: #ffb224;
	--ds-amber-800: #ff990a;
	--ds-amber-900: #ff990a;
	--ds-amber-1000: #fef3dc;
	--geist-cyan-lighter: #aaffec;
	--geist-cyan-light: #79ffe1;
	--geist-cyan: #50e3c2;
	--geist-cyan-dark: #29bc9b;
}
