@import "./style/reset.css";
@import "./style/color.css";
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

@media screen and (min-width: 1571px) {
	.left {
		max-width: 50%;
	}
}

:root {
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--ds-gray-1000);
	background-color: #000;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
	position: relative;
	z-index: 0;
}

body {
	margin: 0;
	min-width: 320px;
	width: 100%;
	min-height: 100vh;
	height: 100vh;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: calc(100vw - 20%);
	margin: 0 auto;
}

.container {
	display: flex;
	height: calc(100vh - 100px);
	align-items: center;
}

.right,
.left {
	display: flex;
	flex: 1;
	place-items: start;
	justify-content: center;
	flex-direction: column;
	z-index: 2;
}

.left {
	text-align: right;
	row-gap: 2em;
}

.card {
	width: 100%;
}

.info {
	display: flex;
	column-gap: 2em;
}

.details {
	display: flex;
	flex-direction: column;
	text-align: left;
	align-items: left;
	justify-content: center;
}

@media screen and (max-width: 767px) {
	.info {
		width: 100%;
		flex-direction: column;
		align-items: center;
	}

	.details {
		width: 100%;
		text-align: center;
		align-items: center;
	}
}

.name {
	font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica",
		"Arial", sans-serif;
	font-size: 2em;
	font-weight: 700;
	color: var(--ds-gray-1000);
	user-select: none;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
}

.omit {
	display: inline-block;
	vertical-align: top;
	color: var(--ds-gray-1000);
	max-width: 0;
	overflow: hidden;
	transition: max-width 0.5s ease;
	will-change: max-width;
	-webkit-text-stroke: 0.2vw #2225;
	font-weight: 500;
}

.name:hover .omit {
	max-width: 120px;
}

.name {
	transition: transform 0.5s ease;
}

.name:hover {
	transform: translateX(calc(0 - 100%));
}

.role {
	font-size: 1.6em;
	font-weight: 400;
	user-select: none;
	color: var(--ds-gray-900);
}

@media screen and (max-width: 767px) {
	.role {
		font-size: 1.6em;
		font-weight: 400;
		user-select: none;
		color: var(--ds-gray-900);
	}
}

.text {
	color: var(--ds-gray-900);
	font-size: 1.2em;
	text-align: justify;
	justify-content: center;
}

.company {
	color: var(--ds-amber-600);
}

.company:hover {
	color: var(--ds-amber-700);
}

.links {
	width: 100%;
	display: flex;
	flex-direction: row;
	column-gap: 2em;
	width: 100%;
}

.link {
	color: var(--geist-cyan-dark);
	font-size: 16px;
	text-decoration: none;
}
.link:hover {
	color: var(--geist-cyan);
}

.img-profile {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	margin: 0 auto;
	border: 1px solid var(--ds-blue-700);
}

.hello {
	background-color: var(--ds-blue-900);
}

.sign {
	width: 180px;
	background-color: 000;
	-webkit-filter: invert(100%); /* Safari/Chrome */
	filter: invert(100%);
	transform: rotate(-10deg);
	margin-left: auto;
}

.call {
	border: 1px solid var(--geist-cyan-dark);
	background-color: var(--geist-cyan-dark);
}

.image-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 120px;
	width: 120px;
	min-width: 120px;
	min-height: 120px;
	border: 1px solid var(--ds-gray-400);
	border-radius: 100%;
}

.img-profile {
	width: 110px;
	height: 110px;
}

.txt-container {
	position: relative;
	width: 500px;
	height: 100px;
}

.navbar {
	position: relative;
	display: flex;
	bottom: 0;
	height: 48px;
	margin: 32px 0;
	width: 100%;
	align-items: center;
	justify-content: center;
	z-index: 100;
}
@media screen and (max-width: 767px) {
	.navbar {
		display: none;
	}

	.sign {
		display: none;
	}
}

.navContainer {
	display: flex;
	column-gap: 8px;
	width: max-content;
	padding: 4px 4px;
	border-radius: 32px;
	border: 1px solid var(--ds-gray-200);
}

.nav {
	padding: 4px 18px;
	font-size: 14px;
	color: var(--ds-gray-600);
	text-decoration: none;
	cursor: pointer;
}

.skillsContainer {
	display: flex;
	flex-direction: column;
	row-gap: 2em;
	align-items: left;
	justify-content: center;
	width: 50%;
}

.label {
	padding: 4px 18px;
	text-decoration: none;
	font-size: 14px;
	color: var(--ds-gray-600);
	cursor: pointer;
	font-family: Fira Code;
}

.activeNav {
	background-color: var(--ds-gray-100);
	border-radius: 25px;
	color: var(--geist-cyan);
}

.nav:hover {
	color: var(--geist-cyan);
}

.disable:hover {
	color: var(--ds-gray-600);
	cursor: not-allowed;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
