@import "./reset.css";
@import "./color.css";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: var(--ds-gray-1000);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	display: flex;
	place-items: center;
	align-items: center;
	justify-content: center;
	min-width: 320px;
	width: 100%;
	min-height: 100vh;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	max-width: calc(100vw - 30%);
	margin: 0 auto;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr; /* Two equal columns */
	height: 100vh; /* Adjust the height as needed */
	min-height: 100vh;
}

.right,
.left {
	display: flex;
	flex: 1;
	place-items: center;
	justify-content: center;
	flex-direction: column;
  z-index: 2;
}

.right {
	align-items: center;
	flex-direction: column;
	justify-content: center;
	row-gap: 2em;
}
.left {
	text-align: right;
}

.name {
	font-size: 6em;
	font-family: "Bebas Neue";
	color: var(--ds-amber-600);
	// background-image: -webkit-linear-gradient(45deg, #7319fa, #ff33b4, #ff7e29);
	// background-clip: text;
	// -webkit-background-clip: text;
	// -webkit-text-fill-color: transparent;
  user-select: none;
	&:hover {
		color: var(--ds-amber-700);
	}
}

.role {
	font-size: 2.2em;
  user-select: none;
}

.card {
}

.text {
	color: var(--ds-gray-900);
	font-size: 1.2em;
	text-align: justify;
	justify-content: center;
	padding: 1em;
}

.company {
	color: var(--ds-amber-600);
	
	&:hover {
		color: var(--ds-amber-700)
	}
}

.links {
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  width: 100%;
}

.link {
  color:var(--geist-cyan-dark);
	font-size: 1.2em;
	text-decoration: none;
	&:hover {
		color: var(--geist-cyan)
	}
}

.img-profile {
	border-radius: 50%;
	margin: 0 auto;
	width: 500px;	
	border: 1px solid var(--ds-blue-700);
}

.hello {
	background-color: var(--ds-blue-900);
}
.call {
	border: 1px solid var(--geist-cyan-dark);
	background-color: var(--geist-cyan-dark);
}

.image-container {
	position: relative;
	width: 500px;
	height: 500px;
}

.fade-image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.5s;
}

.txt-container {
	position: relative;
	width: 500px;
	height: 100px;
}

.fade-txt {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	transition: opacity 0.5s;
	text-align: center;
	color: white;
}


$lineCount: 20;
$backgroundColors: #5500aa80, #aa2b0070, #00d5ff70, #00AA2B70, #AA800070, #AAFF0070, #D5005570, #00FFFF70, #2B002B70, #00558070, #FF557F70, #85B08570;
$elementTypes: h, b;

@each $type in $elementTypes {
  @for $i from 1 through $lineCount {
    $top: 30px * ($i - 1);
    $delay: if($i > 7, $i - 7, $i - 1);
    $colorIndex: $i % length($backgroundColors);
    $element: if($type == h, "lineh", "lineb");

    ##{$element}#{$i} {
      position: absolute;
			z-index: 1;
      left: if($i % 2 == 0, null, 0);
      right: if($i % 2 == 0, 0, null);
      top: if($type == h, $top, null);
      bottom: if($type == b, $top, null);
      height: 1px;
      background: nth($backgroundColors, $colorIndex + 1);
      animation: lineH calc(4s + #{$i * 0.5s} + #{$delay * 1s}) infinite linear;
    }
  }
}




@keyframes lineH{
  0%{
    width: 0%;
  }
  100%{
    width: 95%;opacity: 0;
  }
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
